html,
body {
  height: 100%;
  width: 100%;
}

.footer {
  background-color: #f5f5f5;
}

iframe {
  width: 100%;
  height: 100%;
}

.marquee,
.marquee-with-options,
.marquee-vert-before,
.marquee-vert {
  width: 100%;
  overflow: hidden;
}

.card .card-header {
  font-size: 2rem;
}

.queue-number {
  font-size: 4.8vh;
}

.queue-number-sm {
  font-size: 3vh;
}

.list-group-item.active {
  background-color: #00bc8c;
  color: white;
  border-color: #00bc8c;
}

.box {
  min-height: 48vh;
}

.box-head {
  width: 100%;
  height: 100%;
  /* min-height: 6vh; */
  background: #444;
  border-radius: 0.5vh;

}

.box-detail {
  font-size: 2.5vh;
  position: absolute;
  top: 3.5vh;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}